* {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 3em;
}

h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin-bottom: 16px;
  margin-top: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
}

.existing-contracts-header-cell {
  pointer-events: none;
}

.existing-contracts-body-cell {
  cursor: cell;
}